@import url("https://fonts.googleapis.com/css?family=Righteous|Poppins:300,400,600,800");
.btn, .header, .header__messageWrapper, .employeeList__item, .image__employeeList, .modal__image {
  box-shadow: 1px 1px 4px rgba(181, 182, 181, 0.7); }
  .btn:hover, .employeeList__item:hover {
    box-shadow: 2px 2px 4px rgba(181, 182, 181, 0.7); }
.footer {
  box-shadow: -1px -1px 4px rgba(181, 182, 181, 0.7); }

.btn:hover, .employeeList__item:hover {
  transform: translateX(-1px) translateY(-1px); }

.btn {
  font-size: 1rem;
  margin: .25em;
  padding: .5em .75em;
  color: #fff;
  background-color: #8FC93A;
  border: 1px solid #8FC93A;
  border-radius: .5em;
  transition: .2s; }
  .btn:hover {
    cursor: pointer;
    color: #8FC93A;
    background-color: #fff; }

.input {
  font-size: 1rem;
  margin: 0 auto .5em;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  border-bottom: 1px solid #828382;
  transition: .2s; }
  .input:focus {
    border-bottom-color: #8FC93A; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #242632;
  background-color: #e8e9e8; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

main {
  margin-top: 10.75rem;
  margin-bottom: 2.5rem; }
  @media (min-width: 580px) {
    main {
      margin-top: 8.75rem; } }

footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.header {
  background-color: #fff;
  padding: 1em;
  text-align: center;
  z-index: 999; }
  .header__title {
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0 .25em;
    font-size: 1.5rem;
    color: #8FC93A;
    text-shadow: 1px 1px 3px rgba(181, 182, 181, 0.5); }
    @media (min-width: 580px) {
      .header__title {
        display: inline-block; } }
  .header__sub {
    background-color: rgba(232, 233, 232, 0.9);
    z-index: 999;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-items-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .header__sub__item {
      padding: .5em;
      overflow: hidden; }
  .header__messageWrapper {
    width: 70%;
    margin-top: -3em;
    left: 15%;
    position: absolute;
    text-align: center;
    background-color: rgba(104, 106, 104, 0.7);
    border-radius: .5em;
    opacity: 0;
    z-index: 9999;
    transition: .5s ease-out;
    visibility: hidden; }
    .header__messageWrapper.show {
      margin-top: .5em;
      opacity: 1;
      visibility: visible; }
  .header__message {
    font-size: 1.2rem;
    color: white; }

.employeeList {
  list-style: none;
  padding: 0;
  margin: 0; }
  .employeeList__item {
    width: 95%;
    margin: 0 2.5% 2.5%;
    padding: .5em;
    background-color: #fff;
    border-radius: .5em;
    transition: .25s; }
    @media (min-width: 768px) {
      .employeeList__item {
        width: calc(93.5%/2);
        margin: 0 0 2% 2%;
        display: inline-block; }
        .employeeList__item:nth-child(2n) {
          margin-right: 2%; } }
    @media (min-width: 1180px) {
      .employeeList__item {
        width: calc(93%/3);
        margin: 0 0 1.5% 1.5%; }
        .employeeList__item:nth-child(2n) {
          margin-right: 0; }
        .employeeList__item:nth-child(3n) {
          margin-right: 1.5%; } }
  .employeeList__wrapperRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-items-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .employeeList__wrapperImage {
    width: 35%;
    text-align: right; }
    @media (min-width: 768px) {
      .employeeList__wrapperImage {
        width: 30%; } }
  .employeeList__wrapperText {
    width: 65%;
    padding-left: 1em; }
    @media (min-width: 768px) {
      .employeeList__wrapperText {
        width: 70%; } }
  .employeeList__name {
    margin: 0 0 .5em;
    font-weight: 800; }
  .employeeList__email {
    margin: 0;
    font-size: .8rem;
    color: #828382; }
  .employeeList__city {
    margin: 0;
    font-size: .8rem;
    color: #828382; }
  .employeeList__noResult {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #828382; }

.image__employeeList {
  margin: 1em;
  border: 1px solid #8FC93A;
  border-radius: 50%; }

.input {
  width: 12em; }
  @media (min-width: 768px) {
    .input {
      width: 20em; } }

.btn__employeeList {
  width: 10em; }
.btn__modal {
  position: relative;
  height: 2em;
  color: #fff;
  background-color: #8FC93A;
  border: none;
  transition: .25s; }
  .btn__modal.prev {
    margin-right: 2.5em;
    padding-left: 1em; }
    .btn__modal.prev:hover {
      background-color: #686a68;
      cursor: pointer;
      transform: translateX(-2px); }
      .btn__modal.prev:hover:before {
        border-color: transparent #686a68 transparent transparent; }
      .btn__modal.prev:hover:after {
        border-color: #686a68 transparent #686a68 #686a68; }
    .btn__modal.prev:disabled {
      background-color: #b5b6b5;
      cursor: default;
      transform: translateX(0); }
      .btn__modal.prev:disabled:before {
        border-color: transparent #b5b6b5 transparent transparent; }
      .btn__modal.prev:disabled:after {
        border-color: #b5b6b5 transparent #b5b6b5 #b5b6b5; }
    .btn__modal.prev:before, .btn__modal.prev:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      border-style: solid;
      border-width: 1em;
      transition: .25s; }
    .btn__modal.prev:before {
      left: -2em;
      border-color: transparent #8FC93A transparent transparent; }
    .btn__modal.prev:after {
      right: -2em;
      border-color: #8FC93A transparent #8FC93A #8FC93A; }
  .btn__modal.next {
    margin-left: 2.5em;
    padding-right: 1em; }
    .btn__modal.next:hover {
      background-color: #686a68;
      cursor: pointer;
      transform: translateX(2px); }
      .btn__modal.next:hover:before {
        border-color: #686a68 #686a68 #686a68 transparent; }
      .btn__modal.next:hover:after {
        border-color: transparent transparent transparent #686a68; }
    .btn__modal.next:disabled {
      background-color: #b5b6b5;
      cursor: default;
      transform: translateX(0); }
      .btn__modal.next:disabled:before {
        border-color: #b5b6b5 #b5b6b5 #b5b6b5 transparent; }
      .btn__modal.next:disabled:after {
        border-color: transparent transparent transparent #b5b6b5; }
    .btn__modal.next:before, .btn__modal.next:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      border-style: solid;
      border-width: 1em;
      transition: .25s; }
    .btn__modal.next:before {
      left: -2em;
      border-color: #8FC93A #8FC93A #8FC93A transparent; }
    .btn__modal.next:after {
      right: -2em;
      border-color: transparent transparent transparent #8FC93A; }

.modal {
  display: none;
  text-align: center;
  background-color: rgba(130, 131, 130, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; }
  .modal__container {
    width: 90%;
    margin: 5em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: .5em; }
    @media (min-width: 580px) {
      .modal__container {
        width: 70%; } }
    @media (min-width: 768px) {
      .modal__container {
        width: 55%; } }
    @media (min-width: 1180px) {
      .modal__container {
        width: 40%; } }
  .modal__closeContainer {
    text-align: right; }
  .modal__close {
    text-decoration: none;
    font-size: 2.25rem;
    padding: .25em;
    height: 3rem;
    color: #8FC93A;
    transition: .25s; }
    .modal__close:hover, .modal__close:focus {
      cursor: pointer;
      color: #686a68; }
  .modal__imageContainer {
    margin-top: -2em; }
  .modal__image {
    border: 1px solid #8FC93A;
    border-radius: 50%; }
  .modal__textContainer {
    padding: .5em;
    border-bottom: 2px solid #8FC93A; }
  .modal__text {
    margin: .5em 0;
    padding: 0;
    color: #686a68; }
  .modal__name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #242632; }
  .modal__link {
    text-decoration: none;
    color: #8FC93A;
    margin: .5em 0;
    transition: .25s; }
    .modal__link:hover {
      color: #828382; }
  .modal__buttonContainer {
    padding: 1em 1em 0; }

.footer {
  background-color: #fff;
  margin-top: 1em;
  padding: .5em;
  text-align: center; }

.copyright {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
