%shadow {
  @include e(bottom) {
    box-shadow: 2px 2px 10px rgba($grey, .5);

    @include e(up) {
      box-shadow: 4px 4px 10px rgba($grey, .5);
    }
  }

  @include e(top) {
    box-shadow: -2px -2px 10px rgba($grey, .5);
  }
}

%hover {
  transform: translateX(-2px) translateY(-2px);
}

%btn {
  font-size: 1rem;
  margin: .5em;
  padding: .5em;
  color: $white;
  background-color: $color-primary;
  border: none;
  border-radius: .5em;
  transition: .2s;
  @extend %shadow__bottom;
  &:hover {
    cursor: pointer;
    @extend %hover;
    @extend %shadow__bottom__up;
  }
}

%input {
  font-size: 1rem;
  margin: 0 auto .5em;
  padding: .5em;
  background-color: rgba($white, 0);
  border: none;
  outline: none;
  border-bottom: 1px solid $grey--xdark;
  transition: .2s;
  &:focus {
    border-bottom-color: $color-primary;
  }
}
