.header {
  background-color: $white;
  padding: 1em;
  text-align: center;
  @extend %shadow__bottom;

  @include e(title) {
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0 .25em;
    font-size: 1.5rem;

    @include mq(md) {
      display: inline-block;
    }
  }

  @include e(sub) {
    @include flexbox;
    @include flex-alignment(space-between, center);

    @include e(item) {
      padding: 1em;
    }
  }
}
